# Ignore IDE/editor config
.vscode/
.idea/

# Ignore local database files
*.sqlite3

# Ignore untracked project folders from sibling directories
../../ClauseBot/
../../Fitness_Tracker/
../../PickHacks2025-Project/
../../Ranjit/
../../cs2300-docker-sql/

# Ignore static/media folders if not needed
static/
videos/

# Local system files
.localized

